/* Base styles
--------------------------------------------------------------------------- */
/* 
Apply a natural box layout to all elements, but allowing components to change. 
https://css-tricks.com/box-sizing/ 
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* font size 62.5% is equal to 10px (use rem units below) */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "Muli";
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 3rem;
  letter-spacing: 0.02rem;
}

a {
  font-family: "Muli";
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.highlight {
  background-color: #28bf49;
  padding: 0 0.5rem 0 0.5rem;
}

/* Styles and media queries
---------------------------------------------------------------------- */

.hero-section {
  display: flex;
  position: relative;
  background: url(/images/hero-image3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 22%;
  padding: 0 1.6rem 0 1.6rem;
  height: 100vh;
}

@media only screen and (min-width: 992px) {
  .hero-section {
    background-position: 0;
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.hamburger:focus {
  outline: none;
}

.hamburger__box {
  z-index: 999;
  display: inline-block;
  position: fixed;
  top: 2rem;
  right: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

@mixin hamburger-line {
  position: absolute;
  width: 100%;
  height: 2.2px;
  background-color: #000;
}

.hamburger__inner {
  @include hamburger-line;

  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  @include hamburger-line;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -12px;
}

.hamburger__inner::after {
  top: 12px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(12px) rotate(45deg);
  background-color: #ffffff;
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-12px) rotate(-45deg);
  background-color: #ffffff;
}

.navigation-container {
  z-index: 999;
  position: fixed;
  background-color: #ffffff;
  left: 0;
  width: 100%;
  height: 7.3rem;
  border-bottom: 0.5px solid #000;
}

@media only screen and (min-width: 992px) {
  .navigation-container {
    background-color: transparent;
    border-bottom: none;
  }
}

.navigation {
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: ease-in-out 0.5s;

  &__list {
    position: relative;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    font-size: 3.6rem;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 3.6rem;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  &--active {
    visibility: visible;
    opacity: 94%;
    transition: ease-in-out 0.5s;
  }
}

@media only screen and (min-width: 992px) {
  .navigation {
    position: fixed;
    width: auto;
    height: auto;
    opacity: 100%;
    background-color: transparent;
    top: 0;
    right: 0;
    padding: 3.6rem 3.6rem 0 0;
    visibility: visible;

    &__list {
      position: relative;
      text-align: right;
      font-size: 1.8rem;
      transform: none;
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 2.5rem;
    }

    &__item {
      margin-bottom: 0.6rem;

      a {
        text-decoration: none;
        color: #000;
      }

      a:hover {
        color: #ffffff;
        background-color: #000;
      }

      &--dark-mode {
        margin-bottom: 0.6rem;

        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

.sr-only {
  position: absolute;
  border: 0;
  padding: 0;
  margin: -1px;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.social {
  position: fixed;
  left: 2rem;
  top: 2rem;
  transform: translateY(0.9rem);

  &__list {
    font-size: 1.4rem;
    list-style: none;
    padding: 0 0 0 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    padding-right: 1rem;
  }

  &__item--dark-mode-mobile {
    a {
      color: #ffffff;
    }
  }

  &__link {
    color: #000;
  }
}

@media only screen and (min-width: 992px) {
  .social {
    position: fixed;
    left: 3.5rem;
    top: unset;
    bottom: 1.8rem;
    transform: rotate(-90deg);
    transform-origin: left top;

    &__item {
      a:hover {
        border-bottom: 2px solid #000;
      }

      &--dark-mode {
        padding-right: 1rem;

        a {
          color: #ffffff;
        }

        a:hover {
          border-bottom: 2px solid #ffffff;
        }
      }
    }
  }
}

.hero-heading {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  margin: 0;
  font-size: 10vw;
  line-height: auto;
  text-align: center;

  &--bigger {
    font-size: 20vw;
  }
}

@media only screen and (min-width: 992px) {
  .hero-heading {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 7vw;
    line-height: 7vw;
    margin: 0 0 -1.5rem 0;
    padding: 0 3.5rem 3.5rem 0;
    text-align: right;

    &--bigger {
      font-size: unset;
    }
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .hero-heading {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 7vw;
    line-height: 7vw;
    margin: 0 0 -1.5rem 0;
    padding: 0 3.5rem 3.5rem 0;
    text-align: right;

    &--bigger {
      font-size: unset;
    }
  }
}

.about {
  display: flex;
  flex-direction: column-reverse;
  padding: 4rem 2rem 4rem 2rem;

  &__heading {
    font-size: 3.6rem;
  }

  &__image {
    max-width: 100%;
    align-self: flex-end;
    margin: 4rem 0 8rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    max-width: 100%;
    padding: 5rem 15rem 5rem 15rem;

    &__text {
      max-width: 50%;
      margin: 0 5% 0 0;
    }

    &__heading {
      font-size: 7.2rem;
      line-height: 6rem;
      margin-top: 0;
    }

    &__image {
      max-width: 40%;
      align-self: unset;
      width: 32rem;
      margin: 0 0 0 5%;
    }
  }
}

@media only screen and (min-width: 1680px) {
  .about {
    padding: 5rem 30rem 5rem 30rem;

    &__image {
      width: 48rem;
    }
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;

    &__image {
      max-width: 40%;
      align-self: flex-start;
      width: 22rem;
      margin: 0 0 0 5%;
      padding: 0;
    }

    &__text {
      max-width: 60%;
    }

    &__heading {
      line-height: 3rem;
      margin-top: 0;
    }
  }
}

.ornaments {
  z-index: -1;
  margin-top: -4rem;
  margin-left: 7rem;
}

.coffee-beans {
  width: 28rem;
}

@media only screen and (min-width: 992px) {
  .ornaments {
    position: absolute;
    z-index: -1;
    margin-top: -14rem;
    margin-left: 3.5rem;
  }

  .coffee-beans {
    width: 28rem;
  }
}

@media only screen and (min-width: 1680px) {
  .coffee-beans {
    width: 39rem;
  }
}

.gallery {
  padding: 5rem 15rem 5rem 15rem;
  opacity: 50%;
  background-color: grey;
  height: 100vh;
}

@media only screen and (min-width: 992px) {
  .gallery {
    background-color: grey;
    height: 100vh;
  }
}

@media only screen and (min-width: 1680px) {
  .gallery {
    background-color: grey;
    height: 100vh;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 6rem 2rem;
  background-color: #000;

  &__image {
    order: 1;
    margin: 3rem 0 3rem 0;
    width: 25rem;
    height: 25rem;
  }

  &__greeting {
    width: 100%;
    order: 2;
    margin: 4rem 0 2rem 0;
  }

  &__heading {
    color: #ffffff;
    font-size: 3.6rem;
    line-height: 4rem;
    margin: 0;
  }

  &__paragraph {
    color: #ffffff;
  }

  &__message {
    order: 3;
    align-self: stretch;
  }

  &__input {
    font-size: 1.4rem;
    color: #ffffff;
    font-family: "Muli";
    outline: none;
    border: 2px solid #ffffff;
    background-color: transparent;
    width: 100%;
    height: 4rem;
    margin-bottom: 1.6rem;
    padding: 1.6rem;
  }

  &__area {
    font-size: 1.4rem;
    font-family: "Muli";
    color: #ffffff;
    outline: none;
    resize: none;
    border: 2px solid #ffffff;
    background-color: transparent;
    width: 100%;
    height: 16rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    padding: 1.6rem;
  }

  &__button {
    outline: none;
    border: none;
    text-transform: uppercase;
    font-family: "Muli";
    font-weight: 800;
    font-size: 1.4rem;
    background-color: #ffffff;
    width: 16rem;
    height: 4rem;
    margin-top: 1rem;
  }

  &__button:hover {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
  }
}

@media only screen and (min-width: 992px) {
  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Muli";
    padding: 0 15rem 5rem 15rem;
    background-color: #000;
    height: 100vh;

    &__image {
      order: unset;
      width: 25rem;
      height: 25rem;
    }

    &__greeting {
      order: unset;
    }

    &__heading {
      font-size: 7.2rem;
      line-height: 8rem;
    }

    &__message {
      display: flex;
      align-items: center;
      margin-top: 2rem;
    }

    &__area {
      width: 38rem;
      height: 16rem;
    }

    &__button {
      margin-top: 1.6rem;
    }
  }
}

@media only screen and (min-width: 1680px) {
  .contact {
    padding: 2rem 30rem 5rem 30rem;

    &__image {
      align-self: flex-start;
      width: 30rem;
      height: 30rem;
    }

    &__message {
      display: flex;
      align-items: flex-start;
    }

    &__area {
      width: 58rem;
      height: 26rem;
    }
  }
}

footer {
  border-top: 0.4px solid rgba(255, 255, 255, 0.2);
}

.collaborate {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #ffffff;
  padding: 4rem 2rem 4rem 2rem;

  &__cv {
    width: 15rem;
    color: #ffffff;
    margin-top: 2rem;

    &::after {
      position: relative;
      content: url("/images/arrow.svg");
      margin-left: 1rem;
      top: 0;
    }

    &:hover::after {
      content: url("/images/arrow.svg");
      animation-name: arrow;
      animation-duration: 700ms;
      transform-origin: 50% 50%;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes arrow {
      0% {
        top: -1px;
      }

      25% {
        top: 2px;
      }

      50% {
        top: 3px;
      }

      75% {
        top: 2px;
      }

      100% {
        top: -1px;
      }
    }
  }
}

.social-footer {
  display: flex;
  background-color: #000;
  padding: 4rem 2rem 4rem 2rem;
  align-items: center;
  justify-content: center;

  &__icon {
    padding: 0 1.5rem 0 1.5rem;
  }
}

.copyright {
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  padding: 4rem 2rem 4rem 2rem;
  background-color: #000;

  &__paragraph {
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    background-color: #000;
    border-top: 0.6px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 15rem 5rem 15rem;
  }

  .collaborate {
    display: flex;
    width: 35vw;
    flex-direction: column;
    background-color: #000;
    color: #ffffff;
    padding: 0;
  }

  .social-footer {
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    padding: 2rem 0 0 0;

    &__icon {
      padding: 0 0 0 1.5rem;
    }
  }

  .copyright {
    text-align: right;
    color: #ffffff;
    padding: 4rem 0 4rem 2rem;
    background-color: #000;

    &__paragraph {
      margin: 0;
    }
  }

  @media only screen and (min-width: 1680px) {
    footer {
      padding: 5rem 30rem 5rem 30rem;
    }
  }
}