/* Base styles
--------------------------------------------------------------------------- */
/* 
Apply a natural box layout to all elements, but allowing components to change. 
https://css-tricks.com/box-sizing/ 
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* font size 62.5% is equal to 10px (use rem units below) */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: 'Muli';
    font-weight: 700;
    text-transform: uppercase;
}

a {
    font-family: 'Muli';
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

/* ---------------------------------------------------------------------- */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(/images/hero-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3.5rem;
    height: 100vh;
}

.nav__list {
    margin-top: 0;
    list-style: none;
    text-align: right;
}

.social {
    position: fixed;
    left: 3.5rem;
    bottom: 1.5rem;
    transform: rotate(-90deg);
    transform-origin: left top;
}

.social__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social__item {
    display: inline-block;
    padding-right: 1rem;
}

.hero-heading {
    font-size: 7vw;
    line-height: 7vw;
    margin: 0 0 -1.5rem 0;
    text-align: right;
}

.about {
    padding: 3.5rem;
}